
        .pull-left{margin-right:17px;border-radius:50%;float:left}
        .margin-half-right{margin-right:8px !important}
        .display-block{display:block !important}
        .overflow-hidden{overflow:hidden}
        .u-blue-bg{background:#ecf9ff !important}.u-darkBlue{color:#0a76a7 !important}
        .padding-top{padding-top:17px !important}
        .margin-top{margin-top:17px !important}
.hhd{position:absolute;top:65px;right:190px;border-style: hidden;background:window;opacity: 0.8;text-decoration:aliceblue;padding:10px;color:blue;margin-top: 10px;border-radius: 35px;}
.s20{font-size:20px !important;color:#0ca9fa;margin-left: 10px;}
.mhm{margin-bottom:5px !important;margin-left: 15px;}
