<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui" template="./Template.xhtml">

    <ui:define name="top">
         <h:form > 
               
        <p:menubar >  
            <p:menuitem value="s'inscrire" action="inscription" icon="ui-icon-pencil" />
            <p:menuitem value="se connecter" action="login" icon="ui-icon-arrowreturnthick-1-e" />
                            <f:facet name="options"  >
           
            
                         <h:commandButton  action="#" value="CoTraveling" />
        </f:facet>
           </p:menubar>
                       
           </h:form>
        <h1>page d'inscription</h1>
        
        </ui:define>
        
          <ui:define name="content">
        <h:form>
            <p:panel>
                     <p:panelGrid columns="2" >
                         
                         <p:outputLabel value="Nom"/>
                         <p:inputText  value="#{addClient.client.nom}"/>
                         
                       <p:outputLabel  value="Prenom"/>
                       <p:inputText value="#{addClient.client.prenom}"/>
                    
                        <p:outputLabel  value="Login"/>
                        <p:inputText  value="#{addClient.client.login}"/>
                        
                          <p:outputLabel  value="Password"/>
                          <p:inputText  value="#{addClient.client.password}"/>
                                               
                        <p:outputLabel  value="Email"/>
                        <p:inputText  value="#{addClient.client.email}"/>
                        
                         <p:outputLabel  value="Telephone"/>
                         <p:inputText  value="#{addClient.client.telephone}"/>
                        
                         <p:outputLabel  value="Date de Naissance"/>
                         <p:inputText  value="#{addClient.client.dateNais}"/>
                        
                         <p:commandButton  action="#{addClient.addCl()}" value="inscrire"></p:commandButton>
                       </p:panelGrid>
        </p:panel>                    
        </h:form>
              
    </ui:define>
     <ui:define name="bottom">
                 <h:form>
            <p:outputLabel value="INFOS : "/>
    <p:tabView  dynamic="true" cache="true">
        <p:tab title=" Infos pratiques">
            <h:panelGrid columns="2" cellpadding="10">
                <p:graphicImage  url="imgs/img-info-pratique.gif" />
              
                                        <ul class="">
                                                                                    
            <li >
                <a href="/comment-ca-marche">
                    Comment ça marche
                </a>
            </li>                                  
                                        
            <li class="
                                            ">
                <a href="/confiance-fiabilite">
                    Confiance et sérénité
                </a>
            </li>
        
                                        
                                        
            <li class="
                                            ">
                <a href="/assurance-covoiturage">
                    Assurance et covoiturage
                </a>
            </li>
        
                                        
                                        
            <li class="
                                            ">
                <a href="/niveau-experience">
                    Niveaux d&#039;Expérience
                </a>
            </li>                                                                                    
            <li class="
                                            ">
                <a href="/apps-blablacar-mobile">
                    Application Mobile
                </a>
            </li>                                                                                     
            <li class="
                                            ">
                <a href="/blog/les-avis">
                    Les avis
                </a>
            </li>                                                                                     
            <li class="      ">
                <a href="/blog/ladies-only-fr">
                    Ladies Only
                </a>
            </li>                                                                                   
            <li class="
                                            ">
                <a href="/conseils-prevention">
                    Conseils prévention
                </a>
            </li>                                                                                    
            <li class="
                                            ">
                <a href="/blog/prix-du-covoiturage">
                    Prix du covoiturage 
                </a>
            </li>
                                                
            <li class="
                                            ">
                <a href="/faq">
                    Questions fréquentes
                </a>
            </li>                                      
            <li class="
                                footer-contact            ">
                <a href="/contact">
                    Contact
                </a>
            </li>
            </ul>
                            
            </h:panelGrid>
        </p:tab>
        <p:tab title=" A propos ">
            <h:panelGrid columns="2" cellpadding="10">
                <p:graphicImage url="imgs/a-propos.png"  />
              
                                        <ul class="footer-list">
                                        
            <li class="
                first                            ">
                <a href="/blog/qui-sommes-nous">
                    Qui sommes-nous ?
                </a>
            </li>
        
                                        
                                        
            <li class="
                                            ">
                <a href="/blog/temoignages">
                    Témoignages et anecdotes
                </a>
            </li>
        
                                        
                                        
            <li class="
                                            ">
                <a href="/goodies">
                    Demandez vos stickers BlaBlaCar
                </a>
            </li>
        
                                        
                                        
            <li class="
                                            ">
                <a href="/blog/presse">
                    Presse
                </a>
            </li>
        
                                        
                                        
            <li class="
                                            ">
                <a href="/blog/recrutement">
                    Nous recrutons
                </a>
            </li>
        
                                        
                                        
            <li class="
                                            ">
                <a href="/blog/widget-partenaires">
                    Partenaires
                </a>
            </li>
        
                                        
                                        
            <li class="
                                            ">
                <a href="/blog/utilisation-des-cookies">
                    Utilisation des cookies
                </a>
            </li>
        
                                        
                                        
            <li class="
                                            ">
                <a href="/charte-de-bonne-conduite">
                    Charte de bonne conduite
                </a>
            </li>
        
                                        
                                        
            <li class="
                                            ">
                <a href="/blog/conditions-generales">
                    Conditions Générales
                </a>
            </li>
            </ul>

                            
            </h:panelGrid>
        </p:tab>
        <p:tab title="Blog">
            <h:panelGrid columns="2" cellpadding="10">
                <p:graphicImage url="imgs/blog.jpg" />
                <ul >
    <li >
        <a href="/blog">
            Voir tous les articles du blog
        </a>
    </li>
</ul>
            </h:panelGrid>
        </p:tab>
    </p:tabView>
</h:form>
            </ui:define>
 </ui:composition>