<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <style type="text/css">
.bgimg {
    background-image: url('imgs/route.jpg') ;
    height: 430px; width: 1150px;
       margin-left: 50px;
         margin-right: 200px;
        }
        
.button {
    background: white url('imgs/co.png');
}
</style>
         <link rel="stylesheet" href="css/style2.css"/>
             
    <h:outputStylesheet name="grid/grid.css" library="primefaces" />
        <title>Facelet Title</title>
        
    </h:head>
    <h:body>
        <div class="ui-grid ui-grid-responsive ">
           <div class="ui-grid-row ">
               <div class="ui-grid-col-1"></div>
                 <div class="ui-grid-col-10">
       <header class="hdr" >
           
           <h:form > 
               
        <p:menubar >  
            <p:menuitem value="s'inscrire" action="inscription" icon="ui-icon-pencil" />
            <p:menuitem value="se connecter" action="login" icon="ui-icon-arrowreturnthick-1-e" />
                            <f:facet name="options"  >
           
            
                         <h:commandButton  action="#" value="CoTraveling" />
        </f:facet>
           </p:menubar>
                       
           </h:form>
           </header>
        <div class="bgimg"  >
            <p style="color: grey ; background-color: skyblue ;font-size: 1.5em" >Voyagez moins cher</p>
           
           <div class="#">
               <div class="#" style="margin-left: 80px">
            <h1 class="#" style="color: white ; font-size: 4em ; padding: 0cm 0cm 0cm 3cm  " >Trouvez votre covoiturage</h1>
        <h:form  >

            
            <p:inputText id="De" value="De : " required="true" style="margin-left: 50px"  /> 
            <p:inputText id="A" value="À : " required="true" style="margin: 5px"  /> 
        <p:outputLabel for="popup" value="Date:" style =" color: white; font-size: 1.5em" />
        <p:calendar id="popup" value="#{indexView.date2}" style="margin: 15px"  />
    
    <p:commandButton value="Rechrcher"  actionListener="#" />
</h:form>
 
<h:form >
    <p:commandButton action="publication" value="Vous avez une voiture? Publiez une annonce" class="hhd " >
   </p:commandButton>
</h:form>
    </div>
        </div>
        </div>    
        
        <h:form id="form">
        <p:accordionPanel multiple="true">
        <p:tab title="Conducteurs : ">
            <h:panelGrid columns="2" cellpadding="10">
                <p:graphicImage name="demo/images/godfather/godfather1.jpg" />
                <h2 class="">Conducteurs :<br/>  Réduisez vos frais de route</h2>
            <p>Ne voyagez plus seul ! Economisez sur vos frais en prenant des passagers lors de vos longs trajets en voiture.
</p>
            <img src="https://d1ovtcjitiy70m.cloudfront.net/vi-1/images/homepage/instant-film-driver2.png" alt="" class="pull-left margin-half-right" />
            <a href="/comment-ca-marche#drvr" class="display-block overflow-hidden margin-top padding-top blue">En savoir plus sur le covoiturage pour conducteurs
</a>
            </h:panelGrid>
        </p:tab>
            <p:tab title="Passagers : ">
            <h:panelGrid columns="2" cellpadding="10">
                <p:graphicImage name="demo/images/godfather/godfather2.jpg" />
                           <h2 class="">Passagers :<br/> Voyagez moins cher
</h2>
            <p>Réservez facilement votre place en ligne et voyagez moins cher, même à la dernière minute !</p>
            <img src="https://d1ovtcjitiy70m.cloudfront.net/vi-1/images/homepage/instant-film-passenger.png" alt="" class="pull-left margin-half-right" />
            <a href="/comment-ca-marche" class="display-block overflow-hidden margin-top padding-top blue">En savoir plus sur le covoiturage pour passagers
</a>
            </h:panelGrid>
        </p:tab>
            <p:tab title="Assurance : ">
            <h:panelGrid columns="2" cellpadding="10">
                <p:graphicImage name="demo/images/godfather/godfather3.jpg" />
                  <h2 class="align-left">Assurance additionnelle offerte en partenariat avec AXA</h2>
<p>Vous bénéficiez gratuitement de garanties AXA dédiées, en plus de l'assurance auto du conducteur.</p>
<i class="bbc-icon2-shield green pull-left margin-half-top margin-half-right margin-half-left" aria-hidden="true"></i>
<a href="/assurance-covoiturage" class="display-block overflow-hidden margin-top padding-top blue">En savoir plus sur l'assurance additionnelle offerte</a>
            </h:panelGrid>
        </p:tab>
   
        </p:accordionPanel>
        </h:form>
  
      
        <h:form>
            <p:outputLabel value="INFOS : "/>
    <p:tabView  dynamic="true" cache="true">
        <p:tab title=" Infos pratiques">
            <h:panelGrid columns="2" cellpadding="10">
                <p:graphicImage  url="imgs/img-info-pratique.gif" />
              
                                        <ul class="">
                                                                                    
            <li >
                <a href="/comment-ca-marche">
                    Comment ça marche
                </a>
            </li>                                  
                                        
            <li class="
                                            ">
                <a href="/confiance-fiabilite">
                    Confiance et sérénité
                </a>
            </li>
        
                                        
                                        
            <li class="
                                            ">
                <a href="/assurance-covoiturage">
                    Assurance et covoiturage
                </a>
            </li>
        
                                        
                                        
            <li class="
                                            ">
                <a href="/niveau-experience">
                    Niveaux d&#039;Expérience
                </a>
            </li>                                                                                    
            <li class="
                                            ">
                <a href="/apps-blablacar-mobile">
                    Application Mobile
                </a>
            </li>                                                                                     
            <li class="
                                            ">
                <a href="/blog/les-avis">
                    Les avis
                </a>
            </li>                                                                                     
            <li class="      ">
                <a href="/blog/ladies-only-fr">
                    Ladies Only
                </a>
            </li>                                                                                   
            <li class="
                                            ">
                <a href="/conseils-prevention">
                    Conseils prévention
                </a>
            </li>                                                                                    
            <li class="
                                            ">
                <a href="/blog/prix-du-covoiturage">
                    Prix du covoiturage 
                </a>
            </li>
                                                
            <li class="
                                            ">
                <a href="/faq">
                    Questions fréquentes
                </a>
            </li>                                      
            <li class="
                                footer-contact            ">
                <a href="/contact">
                    Contact
                </a>
            </li>
            </ul>
                            
            </h:panelGrid>
        </p:tab>
        <p:tab title=" A propos ">
            <h:panelGrid columns="2" cellpadding="10">
                <p:graphicImage url="imgs/a-propos.png"  />
              
                                        <ul class="footer-list">
                                        
            <li class="
                first                            ">
                <a href="/blog/qui-sommes-nous">
                    Qui sommes-nous ?
                </a>
            </li>
        
                                        
                                        
            <li class="
                                            ">
                <a href="/blog/temoignages">
                    Témoignages et anecdotes
                </a>
            </li>
        
                                        
                                        
            <li class="
                                            ">
                <a href="/goodies">
                    Demandez vos stickers BlaBlaCar
                </a>
            </li>
        
                                        
                                        
            <li class="
                                            ">
                <a href="/blog/presse">
                    Presse
                </a>
            </li>
        
                                        
                                        
            <li class="
                                            ">
                <a href="/blog/recrutement">
                    Nous recrutons
                </a>
            </li>
        
                                        
                                        
            <li class="
                                            ">
                <a href="/blog/widget-partenaires">
                    Partenaires
                </a>
            </li>
        
                                        
                                        
            <li class="
                                            ">
                <a href="/blog/utilisation-des-cookies">
                    Utilisation des cookies
                </a>
            </li>
        
                                        
                                        
            <li class="
                                            ">
                <a href="/charte-de-bonne-conduite">
                    Charte de bonne conduite
                </a>
            </li>
        
                                        
                                        
            <li class="
                                            ">
                <a href="/blog/conditions-generales">
                    Conditions Générales
                </a>
            </li>
            </ul>

                            
            </h:panelGrid>
        </p:tab>
        <p:tab title="Blog">
            <h:panelGrid columns="2" cellpadding="10">
                <p:graphicImage url="imgs/blog.jpg" />
                <ul >
    <li >
        <a href="/blog">
            Voir tous les articles du blog
        </a>
    </li>
</ul>
            </h:panelGrid>
        </p:tab>
    </p:tabView>
</h:form>
                
          </div>

        <div class="ui-grid-col-1 "></div>
         
     </div>
       </div>
    </h:body>
</html>

