<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="./css/default.css"/>
        <h:outputStylesheet name="./css/cssLayout.css"/>
        <title>User Management | Profil</title>
        <link rel="shortcut icon" href="img-profile\icon.jpg" ></link>
    </h:head>

    <h:body>
   <div class="ui-grid ui-grid-responsive ">
           <div class="ui-grid-row ">
               <div class="ui-grid-col-1"></div>
                 <div class="ui-grid-col-10">
        <div id="top">
            <ui:insert name="top"></ui:insert>
            
        </div>
        <div>
            <div id="left">
                <ui:insert name="left"></ui:insert>
            </div>
            <div id="content" class="left_content">
                <ui:insert name="content"></ui:insert>
            </div>
        </div>
         <div id="bottom">
            <ui:insert name="bottom"></ui:insert>
        </div>
  </div>

        <div class="ui-grid-col-1 "></div>
         
     </div>
       </div>
    </h:body>

</html>
